<h2 class="text-center fs-2 down1"> POLICY MANAGEMENT </h2>

<div class="text-center down3">
    <button 
        type="button" 
        class="btn btn-primary btn-sm px-4 py-2"
        data-mdb-toggle="modal"
        data-mdb-target="#exampleModal" >
        <i class="fa fa-plus"></i> 
          ADD
        </button>
</div>

<table class="table align-middle col-lg-10 down2">
  <thead class="table-dark fs-4">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Policy Number</th>
      <th scope="col">Policy Amount</th>
      <th scope="col text-center">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let policy of policies">
      <th>{{policy.id}}</th>
      <td>{{policy.number}}</td>
      <td>{{policy.amount}}</td>
      <td>
        <button 
            type="button" 
            class="btn btn-primary btn-sm px-3"
            (click)= "selectPolicy(policy)" >
          <i class="fa fa-edit"></i>
         Update
        </button>

        <button 
            type="button" 
            class="btn btn-danger btn-sm px-3 mx-4"
            (click)= "deletePolicy(policy.id)">
          <i class="fa fa-times"></i> 
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Policy</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form #f = "ngForm" class="col-lg-12 mt-4">
        <div class="form-floating mb-3">
          <input 
            name="number"
            type="text" 
            class="form-control"  
            placeholder="number"
            [(ngModel)] = "selectedPolicy.number" >
          <label>Number Policy</label>
        </div>
        <div class="form-floating">
          <input 
            name="amount"
            type="text" 
            class="form-control" 
            placeholder="Password"
            [(ngModel)] = "selectedPolicy.amount" >
          <label>Amount Policy</label>
        </div>

        <div class="modal-footer mt-4">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button 
          type="button" 
          class="btn btn-primary"
          (click)="createOrUpdatePolicy(f)" >
          Create or Update
        </button>
      </div>

      </form>
    </div>
  </div>
</div>
